@import './styles/admin/global-template.scss';

.order_block {
    display: flex;
    box-shadow: 0px 1px 0px 0px black;
    &:hover {
        background-color: #e7e7e7;
    }
}

.handle_delete_button {
    @extend %big_button_danger_color_server;
}

.ordr_item_wrap {
    margin-left: 20px;
}

.loader_wrap {
    @extend %loader_wrap;
}